:root {
  --primary-text-color: #212121;
   --accent-text-color: #2196F3;
   --secondary-accent-color: #757575;
   --secondary-text-color: #FFFFFF;
  --aditional-background-color:#2F303A;
--secondary-logo-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding-left: 0;
}

a {
    color: currentColor;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
ul {
    display: block;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* основной цвет текста  #212121 */
/* вторичный цвет текста : #212121; */
/* белый color: #FFFFFF  */
/* акцент  #2196F3; */
/* цвет фона 1  #FFFFFF; */
/* цвет фона 2  #2F303A */
/* цвет фона 3 #E5E5E5 */
/*  цвет фона 4 #F5F4FA */
/* цвет фона 5 #2F303A */

    /*_________________________HEADER__________*/
 
 

 
 .header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--secondary-text-color);
    color: var(--accent-text-color);
}
    .header-link {
        padding-top: 24px;
        padding-bottom: 25px;
          font-family: 'Raleway', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 26px;
          line-height: 1.19;
          text-decoration: none;
          color: var(--accent-text-color);
        }
 
    
.header-logo {
     color: var(--secondary-logo-color);
    cursor: pointer;}

        /* MAIN DIV */

   .main-div  {
    display: flex;
    align-items: center;
   }  


/* Стилизация навигации */
  .current-nav {
    display: flex;
    margin-left: 93px;
         }

 
   .current-nav-top {
    margin-right: 50px;
   }
   .current-nav-top:last-child {
    margin-right: 0;
  }
  

.current-nav-link ,
.current-nav-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current-nav-link{
    position: relative;
}

.current-nav-link::after{
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;

border-radius: 2px;
background-color: var(--accent-text-color);


}




.item {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 250ms;

    color:rgba(117, 117, 117, 1);
}
.item:hover 
{
    color: currentColor;
}
    

.current {
    color: var(--accent-text-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.current-nav-item:hover,
.current-nav-item:focus {
    color: var(--accent-text-color);
}
 .auth-nav .item + .item {
    margin-left: 50px;
 }

.header-mail:hover ,
.header-mail:focus {
color: var(--accent-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-text-color);
}

.person-discription {
font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}
.current-nav-item ,
.current-nav-link 
 {
    transition-property:color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-duration: 250ms;
   cursor: pointer;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration: none;
}


.header-mail,
.header-tel {
    display: flex;
    align-items:center;
    cursor: pointer;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-duration: 250ms;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   text-decoration: none;
color: var(--secondary-accent-color);
}
.current-nav-link {
 color: var(--accent-text-color);
}

.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms;
    
    background-color: rgba(0, 0, 0, 0.2);
    
}


/* ________________ЗРОБИТИ МОДЕЛЬНЕ ВІКНО НЕВИДИМИМ_____ */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;  
    visibility: hidden;
   
}
.modal{
    position: absolute;
    display: flex;
    padding:40px;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transition: visibility 250ms;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
   right:8px;
   top:8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--secondary-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}


/* ______________________СВГ___________ */

.icons {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor
}

.icon-smart {
    width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
}

/*_________________________MAIN____________*/

.hero {
    padding-top: 200px;
        padding-bottom: 200px;
    text-align:center;
    max-width:1600px;
    min-height: 600px;
    margin:0 auto;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../img/peope.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--aditional-background-color);
}
/* ____ICON______ */




.person {
 background-color: var(--secondary-text-color);
}

.hero-title {
     
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}
.hero-btn {
    display: inline-block;
        width: 200px;
        height: 50px;
    cursor: pointer;
    transition-property: background-color;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-duration: 250ms;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        border:none;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);
    }
    
       
 .hero-btn:hover,
 .hero-btn:focus {
  background-color:var(--accent-text-color);
  color: var(--secondary-text-color);
        }
   
        .hero-content {
 margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
   }

   .text {
    padding-top: 94px;;
   }
   .text-item {
    display: flex;}
   
.text-item .group
{ 
    width: 270px;
    margin-right: 30px;

}


.icons-group {
    display: flex;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
background-color: #F5F4FA;
}

.position{
    position: relative;
}
.classes{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.textes{
    font-style: normal;
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;

}
.text-item .group:last-child {
    margin-right: 0;
   
}

   .text-paragraph {
    line-height: 1.71;
  color: var(--secondary-accent-color);
   }

    .picture {
        padding-top: 0;
    }
   
   .picture-title  {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        line-height: 1.16;
        color: var(--primary-text-color);
   }

   .picture-item {
    display: flex;
    column-gap: 30px;
   }

   .image {
    width:calc((100% - 60px) / 3);
   }
  

   .person {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
   }

   .person-discription{
 
    margin-bottom: 50px;
    text-align: center;
   }

   .person-name {
    margin-top:30px;
    margin-bottom: 10px;
       font-weight: 500;
       font-size: 16px;
justify-content: center;
    color: var(--primary-text-color);
   }

   .person-info {
    display: flex;
 justify-content: center;
 column-gap: 30px;
        font-size: 16px;
        line-height: 1.18; 
     color: var(--secondary-accent-color);
   }
     .person-inform {
margin-bottom: 16px;
     } 


   .name {
    width: calc((100% - 90px) / 4);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--secondary-text-color) ;
      
   }
   
   .ava {
    display: block;
   }

   /* _________________________ІКОНКИ__________НАША КОМАНА______*/
   
   .network {
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 30px;
   }


   .icon-team {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: fill , color , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:var(--secondary-text-color);
    fill: #AFB1B8;
    align-items: center;
    justify-content: center;
   }

   .icon-team:hover {
    background-color: var(--accent-text-color);
    fill:var(--secondary-text-color);
   }

/* _____________ОФОРМЛЕННЯ ПЕРЕДОСТАННЬОЇ СЕКЦІЇ */

.partners {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-text-color);
}

.clients {
 
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.client-icon {
    display: flex;
    list-style: none;
    gap:30px;
 
}

.icon-partners {
    display: flex;
    width: 170px;
    height: 92px;
    transition: fill, border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #AFB1B8;
        border-radius: 4px;
            fill: #AFB1B8;
            align-items: center;
            justify-content: center;
        }

              
    .icon-partners:hover{
        fill:var(--accent-text-color);
        border-color: var(--accent-text-color);
    }   


   /*_____________________________________FOOTER___________*/
   
  

.tel-footer:hover ,
.tel-footer:focus {
    color: var(--accent-text-color);
}
.mail-footer ,
.tel-footer
 {
   text-decoration: none;
transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6) ;
}
   .mail-footer:hover,
   .mail-footer:focus{
 color: var(--accent-text-color);
   }
  
   .footer-item {
    font-style: normal;
    text-decoration: none;
   }
   
   .footer-geo {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.71;
    text-decoration: none;
    color: var(--secondary-text-color);
    }
   
 
   .footer-geo:hover,
   .footer-geo:focus{
  color: var(--accent-text-color);
 }
   .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--aditional-background-color);
   }
 
    
.panel {
    display: block;
   margin-top: 9px;
}
.panel:first-child{
margin-top: 0;
}

.bottom-container{

display: flex;
align-items: baseline;
}
   .footer-link {
    display: inline-block;
        margin-bottom: 20px;
    cursor: pointer;
       font-family: 'Raleway', sans-serif;
       font-style: normal;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       text-decoration: none;
       color: var(--accent-text-color);
   }

   .footer-logo {
       color: var(--secondary-text-color);}


       /* _________ІКОНКИ__ФУТЕР___________ */


       .bottom-icon{
        margin-left: 70px;
       }
.paragraph{
    margin-bottom: 20px;
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
     justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:rgba(255, 255, 255, 0.1);
    fill:#FFFFFF;  
}

.link-footer:hover{
    background-color: var(--accent-text-color);
}
 .bottom-network {
    gap: 10px;
    display: flex;
    list-style: none;
 }


.container-footer {
    display: flex;
    align-items: baseline;
}








_________________PORTFOLIO MAIN_________*/
 
 
  
button {
    display: block;
}
.navigator-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  
}


.touch {
    margin-left: 8px;
    
}

.touch:first-child {
    margin-left: 0;}

   .box{
    position: relative;
    overflow: hidden;
   }
   
   .overlay {
    position: absolute;
    opacity: 0;
    width: 370px;
    height: 294px;
    transform: translateY(100%);
    transition: transform 250ms ease;
    background-color: rgba(33, 150, 243, 0.9);
   }

   .img-touch:hover .overlay {
       transform: translateY(0);
       opacity: 1;
   }

.text-overlay {
    display: flex;
   margin-top: 63px;
   margin-left: 24px;
  width: 322px;
  height: 168px;
  justify-content: center;
   font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


  .navigator-btn-item:hover,
  .navigator-btn-item:focus
   {
    background-color: var(--accent-text-color);
      color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
        .navigator-btn-item {
            cursor: pointer;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.62;
            border-radius: 4px;
            border: none;
            transition: color, box-shadow, background-color,border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding-left: 22px;
            padding-right: 22px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-weight: 500;
                font-size: 16px;
                line-height: 1.62;
                background-color: #F5F4FA;
                    color: var(--primary-text-color);
            
        }
    
.navigator { 
    padding-top: 94px;
    padding-bottom: 94px;
}
  
/* _____________________IMG___________ */

img {
    display: block;
}
.img {
    display: flex;
    flex-wrap: wrap;
    
}

.img-person {
margin-right:30px;
margin-bottom: 30px;

}

.groups{
    padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
        border-top: none;
}
.img-person:nth-child(3n) {
    margin-right: 0;
}

.img-person:nth-last-child(-n + 3)
{
    margin-bottom: 0;
}
.img-touch {
    transition: color, box-shadow, opacity , transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    text-decoration: none;
}

.img-touch:hover,
 .img-touch:focus
 {  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    color: var(--secondary-text-color);
}

.img-name {
font-weight: 700;
font-size: 18px;
 line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.img-info {
font-size: 16px;
line-height: 1.87;
    color: var(--secondary-accent-color);
}

.select {display: block;
    margin-top: 9px;
    
}

.select:first-child {
margin:0;
}


/* _______________ФОРМИ____________- */

.form {
    width: 448px;
    padding:0;

}

.texrtarea {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 16px;
    padding-top: 12px;
    text-align: left;
    margin-top: 4px;
    width: 448px;
        height: 120px;
    resize:none;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
}

.texrtarea:focus{
    border-color: var(--accent-text-color);
}

.checkbox 
 {
    /* -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; */


        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip:rect(0 0 0 0);
        overflow: hidden;
}

::-webkit-input-placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-title {
    margin-bottom: 12px;
    font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}


.form-input{
    display: flex;
        flex-direction: column;
        text-align: left;
        padding-left:42px;
margin-top: 4px;
    width: 448px;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
}

.form-input:focus{
border-color: 1 px solid #2196f3;
}

.form-input:focus ~ .icon-form {
  fill:var(--accent-text-color);
}

.icon-form {
fill: var(--primary-text-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-div-check {
  margin-top: 20px;
  margin-bottom: 30px;
}
.labale ,
.labale-text{
    text-align: left;
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--secondary-accent-color)
}

.icon-form{
    position: absolute;
    left:12px;
    bottom:11px;
}

.button-submit{
    width: 200px;
     height: 50px;
     background: var(--accent-text-color);
font-weight: 700;
    font-size: 16px;
   margin-left:124px;
   margin-right: 124px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--secondary-text-color);
            background:var(--accent-text-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
}

.button-submit:focus {
  
    background-color: #188CE8; 
}

.form-div-check {
margin-left: 13px;
}

.icon-checks {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    width: 16px; 
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
}
.checkbox:checked + .icon-checks {
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    
}


.check-icon{
    display: inline-block;
    position: absolute;
    fill:var(--secondary-text-color);
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color, box-shadow, opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.labale-check{
    text-align: left;
        position: relative;
        display: flex;
       align-items: center;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--secondary-accent-color)
}



.link-check {
    color: var(--accent-text-color);
margin-left: 2px;
text-decoration: underline;
}

.modal-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-icon:hover{
    fill: var(--accent-text-color);
}

.footer-input {
    display: flex;
    margin-top: 20px;
    width: 358px;
    height: 50px;
    padding-left: 28px;
    border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        color: var(--secondary-text-color);
}

.labale-foot {
    display: block;
        margin-left: 93px;
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color);
}

.footer-input::placeholder{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-forms {
   display: flex;
   margin-left: auto;
   align-items: center;
   justify-content: center;

}


.footer-button{
display: flex;
    justify-content: center;
   align-items: center;
position: relative;
    width: 200px;
    height: 50px;
    /* margin-left: 370px;
    margin-top: -50px; */
    margin-left: 12px;
    background: var(--accent-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        color: var(--secondary-text-color);
        cursor: pointer;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
}

.svg-footer {
    margin-left: 10px;
    position: absolute;
        top: 13px;
        bottom: 13px;
margin-left: 150px
}

.footer-box {
    display: flex;
    align-items: baseline;
}